.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.logo{
  height: 150px;
  width: 150px;
  padding: 35px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Set initial opacity to 0 for fade-in animation */
  animation: fadeIn 0.5s forwards; /* Apply fade-in animation */
}

.logo:hover {
  transform: scale(1.09); /* Scale up slightly on hover */
  transition: transform 0.3s ease; /* Add smooth transition */
}

/* Animation keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.response-text {
  font-size: 1.3rem;
  font-weight: normal;
  text-align: left;
  color: #222222;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.response-section{
  background-color: #ffffff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9e9e9;        
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 50px;
  width: 50vw;
}

.text-input {
  padding: 10px;
  width: 450px;
  height: 100px;
  border-radius: 12px;
  font-weight: 500;
  color: #272727;
  font-size: 1.2rem;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #c6e2ff;
}

input::placeholder {
  color: #696969; /* Example color (light gray) */
}

.analyze-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  width: 478px;
  height: 60px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drop{
  padding: 10px;
  background-color: white;
  color:  #007bff;
  border-radius: 12px;
  width: 478px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #c6e2ff;
}

.drop:hover,
.drop:focus,
.drop:active {
  outline: none; /* Remove the default focus outline */
  border-color: #bcdcff; /* Change the border color on hover, focus, and active states */
  background-color: #bcdcff;
}

.drop::after {
  content: '▼'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #bcdcff;
  pointer-events: none; /* Ensure the arrow doesn't interfere with the click */
}

.analyze-button:hover {
  background-color: #0853a3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.analyze-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Alert message styles */
.trust {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  width : 440px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  margin-bottom: 20px;
}

.doutable {
  padding: 20px;
  background-color: #ffd105;
  color: white;
  width : 440px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  margin-bottom: 20px;
}

.wrong {
  padding: 20px;
  color: white;
  background-color: #ff3c0c;
  width : 440px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .response-section{
    background-color: #ffffff;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e9e9;        
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 50px;
    width: 70vw;
  }
}

@media (max-width: 850px) {
  .logo{
    height: 100px;
    width: 100px;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Set initial opacity to 0 for fade-in animation */
    animation: fadeIn 0.5s forwards; /* Apply fade-in animation */
  }
}

@media (max-width: 730px) {
  .logo{
    height: 100px;
    width: 100px;
    padding: 25px;
    position: static; /* Reset position to static */
    opacity: 0; /* Set initial opacity to 0 for fade-in animation */
    animation: fadeIn 0.5s forwards; /* Apply fade-in animation */
  }
}

@media (max-width: 630px) {
  .response-section{
    background-color: #ffffff;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e9e9;        
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 50px;
    width: 440px;
  }
}

@media (max-width: 500px) {
  .response-text {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
    color: #353535;
  }

  .text-input {
    padding: 10px;
    width: 350px;
    height: 80px;
    border-radius: 12px;
    font-weight: 500;
    color: #363636;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #c6e2ff;
  }

  .analyze-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    width: 380px;
    height: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .drop{
    padding: 10px;
    background-color: white;
    color:  #007bff;
    border: 3px solid #c6e2ff;
    border-radius: 12px;
    width: 380px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0px 8px  #b3b3b3;
  }
  
  .response-section{
    background-color: #ffffff;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e9e9;        
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 50px;
    width: 340px;
  }

  .trust {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    width : 340px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .doutable {
    padding: 20px;
    background-color: #ffd105;
    color: white;
    width : 340px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .wrong {
    padding: 20px;
    color: white;
    background-color: #ff3c0c;
    width : 340px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
}

@media (max-width: 400px) {
  .response-text {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
    color: #353535;
  }

  .text-input {
    padding: 10px;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    font-weight: 500;
    color: #363636;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #c6e2ff;
  }

  .response-section{
    background-color: #ffffff;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9e9e9;        
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 50px;
    width: 290px;
  }

  .analyze-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    width: 325px;
    height: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .drop{
    padding: 10px;
    background-color: white;
    color:  #007bff;
    border: 3px solid #c6e2ff;
    border-radius: 12px;
    width: 325px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0px 8px  #b3b3b3;
  }

  .trust {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    width : 290px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .doutable {
    padding: 20px;
    background-color: #ffd105;
    color: white;
    width : 290px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .wrong {
    padding: 20px;
    color: white;
    background-color: #ff3c0c;
    width : 290px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 20px;
  }
}
