.rating-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rating-button:hover {
  background-color: #525252;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.rating-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Rating stars */
.rating-container {
  display: inline-block;
  font-size: 54px; /* Adjust the size of the stars */
}

.rating-container span {
  color: #ccc; /* Default color of the stars */
  cursor: pointer;
}

.rating-container span.active,
.rating-container span:hover {
  color: gold; /* Color of the active and hovered stars */
}

/* Rating elemnts */
.rating-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Center the rating page horizontally */
  padding: 20px;
  height: 90vh;
  text-align: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.rating-page h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  width: 60vw;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  color: #1a1a1a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.rating-page p {
  font-size: 18px;
  margin-top: 20px;
}

/* Alert message styles */
.alert {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  margin-top: 50px;
  border-radius: 5px;
}

/* Close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.backHome{
  width: 35px;
  height: 35px;
  margin: 20px;
  align-self: flex-start;
}


@media (max-width: 904px) {
  
}

@media (max-width: 500px) {
  .page-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .analyze-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    width: 380px;
    height: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .rating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 12px;
    width: 270px;
    height: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


}

@media (max-width: 400px) {
  .page-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .analyze-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    width: 330px;
    height: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

}
